<dialog id="gameModal">
  <form method="post" id="gameForm" action="/games/add" enctype="multipart/form-data">
    <div>
      <label for="title">Title</label>
      <input name="title" id="title" type="text" />
    </div>
    <div>
      <label for="releseDate">Release Date</label>
      <input name="releseDate" id="releseDate" type="date" />
    </div>
    <div>
      <label for="description">Game Description</label>
      <textarea name="description" id="description" type="date"></textarea>
    </div>
    <div>
      <fieldset id="categoriesFieldset">
        <legend>Categories</legend>
      </fieldset>
    </div>
    <div>
      <label for="developer">Developer</label>
      <select name="developer" id="developer">
      </select>
    </div>
    <div>
      <label for="gameImg">Developer</label>
      <input type="file" accept="image/png, image/jpeg" name="gameImg" id="gameImg">
    </div>
    <button type="submit">Save</button>
    <button
      type="button"
      onclick="document.getElementById('gameModal').close()"
    >
      Cancel
    </button>
  </form>
</dialog>
