<dialog id="gameModal">
  <form
    method="post"
    id="gameForm"
    action="/games/add"
    enctype="multipart/form-data"
  >
    <h2>Add a new Game</h2>
    <div>
      <label for="title">Title</label>
      <input name="title" id="title" type="text" required minlength="3" />
      <span id="titleError" class="errorSpan"></span>
    </div>
    <div>
      <label for="releseDate">Release Date</label>
      <input name="releaseDate" id="releaseDate" type="date" required />
      <span id="releaseDateError" class="errorSpan"></span>
    </div>
    <div>
      <label for="description">Game Description</label>
      <textarea
        name="description"
        id="description"
        type="date"
        required
        minlength="15"
      ></textarea>
      <span id="descriptionError" class="errorSpan"></span>
    </div>
    <div>
      <fieldset>
        <legend>Categories</legend>
        <div id="categoriesFieldset"></div>
        <span id="categoriesError" class="errorSpan"></span>
      </fieldset>
    </div>
    <div>
      <label for="developer">Developer</label>
      <select name="developer" id="developer" required></select>
      <span id="developerError" class="errorSpan"></span>
    </div>
    <div>
      <label for="gameImg">Game Image</label>
      <input
        type="file"
        accept="image/png, image/jpeg, image/webp"
        name="gameImg"
        id="gameImg"
        required
      />
      <span id="gameImgError"></span>
    </div>
    <div class="btnModalDiv">
      <button type="submit">Save</button>
      <button
        type="button"
        onclick="document.getElementById('gameModal').close()"
      >
        Cancel
      </button>
    </div>
  </form>
</dialog>
