<nav>
  <h2>PixelVault</h2>
  <ul class="navLinksContainer">
    <li>
      <a href="/">Homepage</a>
    </li>
    <li>
      <a href="/categories">Categories</a>
    </li>
    <li>
      <a href="/developers">Developers</a>
    </li>
    <li>
      <a href="/games">Games</a>
    </li>
  </ul>
</nav>
