<dialog id="editModal">
  <form method="post" id="editForm" action="/categories">
    <div>
      <label for="nameInput">Name</label>
      <input type="text" name="name" id="nameInput" />
    </div>
    <p id="errorP"></p>
    <button type="submit">Save</button>
    <button type="button" onclick="closeModal()">Cancel</button>
  </form>
</dialog>
