<dialog id="editModal">
  <h2 id="modalTitle"></h2>
  <form method="post" id="editForm" action="/categories">
    <div>
      <label for="nameInput">Name</label>
      <input type="text" name="name" id="nameInput" />
    </div>
    <p id="errorP"></p>
    <div class="btnModalDiv">
      <button type="submit">Save</button>
      <button type="button" onclick="closeModal()">Cancel</button>
    </div>
  </form>
</dialog>
