<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games - Games Inventory</title>
  </head>
  <body>
    <%- include("./elements/nav.ejs") %>
    <main>
      <h1>Games</h1>
      <button id="addGameBtn">Add Game</button>
      <%- include("./elements/gameModal.ejs", { categories: categories, developers: developers }) %>
      <ul>
        <% for (let i = 0; i < gamesInfo.length; i++) { %>
        <li>
          <%- include("./elements/gameCard.ejs", {gameInfo: gamesInfo[i]}) %>
        </li>
        <%} %>
      </ul>
    </main>
    <script>
      const modal = document.getElementById("gameModal");
      document.getElementById("addGameBtn").addEventListener("click", () => {
        modal.showModal();
      });
    </script>
  </body>
</html>
