<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/gameModal.js" defer></script>
    <script src="/js/games.js" defer></script>
    <link href="/styles/index.css" rel="stylesheet" />
    <link href="/styles/games.css" rel="stylesheet" />
    <title>Games - PixelVault</title>
  </head>
  <body>
    <%- include("./elements/nav.ejs") %>
    <main>
      <h1>Games</h1>
      <button id="addGameBtn">Add Game</button>
      <%- include("./elements/gameModal.ejs") %>
      <ul id="gamesContainer">
        <% for (let i = 0; i < gamesInfo.length; i++) { %>
        <li class="gameCard">
          <%- include("./elements/gameCard.ejs", {gameInfo: gamesInfo[i]}) %>
        </li>
        <%} %>
      </ul>
    </main>
    <%- include("./elements/footer") %>
  </body>
</html>
