<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Inventory</title>
  </head>
  <body>
    <%- include("./elements/nav.ejs") %>
    <main>
      <h1>Games Inventory</h1>
    </main>
  </body>
</html>
