h1,
h2 {
  text-align: center;
}

.titleDescription {
  font-size: 1rem;
  max-width: 500px;
  margin: 1.5rem auto 4rem auto;
  text-align: justify;
  color: var(--color-text);
}

.totalCard {
  background-color: var(--color-surface-elevated);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 33%;
  max-width: 250px;
  color: var(--color-text);
  text-decoration: none;
}

.totalCard:hover {
  background-color: var(--color-surface-elevated-hover);
  scale: 1.05;
}

.totalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.totalNumber {
  font-size: 1.75rem;
  text-align: center;
  color: var(--color-accent);
  font-weight: bold;
}

.cardsContainer {
  margin: 4rem auto 4rem auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

@media (max-width: 900px) {
  .totalCard {
    width: 45%;
    padding: 1.5rem;
    max-width: none;
  }
}

@media (max-width: 678px) {
  .totalCard {
    width: 85%;
    padding: 1rem;
    max-width: none;
  }
}

@media (max-width: 380px) {
  .totalCard {
    width: 100%;
    max-width: none;
  }

  .cardsContainer {
    width: 95%;
  }
}
